streamlit
python-dotenv
google-generativeai
notion-client
langchain
langchain-google-genai
langchain-community
langchain-core
langchainhub
langchain-google-community[drive]
langchain_text_splitters
opencv-python-headless
faiss-cpu
langchain_googledrive
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
unstructured
langchain-googledrive



